#veil {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

body {
	background: #444;
	margin: 0;
	padding: 0;
}

#header.maximized {
	height: 100%;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 120px;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}

#input {
	margin: 0;
	width: 404px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#input > div {
	display: flex;
	align-items: stretch;
}

#input > div > input[type="submit"] {
	flex-grow: 1;
}

#input input,
#input select {
	background: white;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin: 2px;
	transition: all 0.3s;
}

#input input:hover,
#input input:focus,
#input select:hover,
#input select:focus {
	box-shadow: 0px 0px 5px white;
}

#input input[type="text"] {
	background-color: white;
	padding: 0px 10px;
}

#input input[type="submit"] {
	font-weight: bold;
	background-color: #55f;
	color: white;
	cursor: pointer;
}

#input input[type="submit"]:hover,
#input input[type="submit"]:focus {
	background-color: white;
	color: #55f;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: none;
}

#output {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 400px;
}

#output > a {
	display: block;
	background: white;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	color: black;
	transition: all 0.3s;
	position: relative;
}

#output > a:hover,
#output > a:focus {
	background-color: #ffa;
	box-shadow: 0px 0px 5px white;
}

#output > a > p:first-of-type {
	margin-top: 0;
}

#output > a > p:last-of-type {
	margin-bottom: 0;
}

#output {
	counter-reset: output-counter;
}

#output > a:before {
	position: absolute;
	right: 400px;
	top: 0px;
	margin: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	content: counter(output-counter);
	counter-increment: output-counter;
}

#output > a:hover:before,
#output > a:focus:before {
	color: #ffa;
}
